tags-input([(ngModel)]="boundaryFile.tags")

form(method="post",enctype="multipart/form-data",action="http://127.0.0.1:3000/")#file_selector
    p
        input(type="text",name="title",placeholder="Title of boundary file")
    p
        input(type="file",name="boundaryFile")

button#upload_button((click)="uploadSelectedFile()")
    | Upload