tags-input([(ngModel)]="boundaryFile.tags")

div
    p
        input(type="hidden",name="tags")
    p
        input(type="text",name="title",placeholder="Title of boundary file",[(ngModel)]="boundaryFile.title")
    p
        input(type="file",name="boundaryFile")#boundaryFile

div
    button#upload_button((click)="uploadSelectedFile()")
        | Upload

    div(style='background:#F9FAFB;padding:1%;width:50%;margin-top:2%;display:none')#progressbarContainer
        div(style='background:white;padding:1%;width:0%')#progressbar