.ui.category.search
    .ui.icon.input
        input.prompt(type='text', placeholder='Search for boundary file...')
        i.search.icon
    .results

table.ui.celled.table
    thead
        tr
            th My file name
            th Uploaded date
            th Tags
    tbody
        tr
            td District of India
            td March 13, 2016
            td India, District
        tr
            td Boundaries of Odisha
            td April 15, 2016
            td India, Odisha
        tr
            td States of India
            td April 16, 2016
            td India, States
    tfoot
        tr
            th(colspan='3')
                .ui.right.floated.pagination.menu
                    a.icon.item
                        i.left.chevron.icon
                    a.item 1
                    a.item 2
                    a.item 3
                    a.item 4
                    a.icon.item
                        i.right.chevron.icon
button.ui.secondary.button((click)='modal.show({inverted: true})') Upload
sm-modal(title='UPLOAD BOUNDARY FILE', #modal='')
    modal-content
        | Select A File
        input.upload-button(type="file")
        br
        | Supported formats: GeoJSON
        br
        | Tags:
        br
        tags-input([(ngModel)]="boundaryFile.tags")
        br
        | These helps others to find your files:
    modal-actions
        .ui.buttons
            button.ui.secondary.button((click)='modal.hide()') Upload

p
    upload-boundary-file
p
    upload-data-file