| View uploaded data file
button.ui.secondary.button((click)='uploadModal.showModal()') Upload
p
    upload-modal([title]="'Upload Data File'", [uploadFilePlaceholder]="'Title of data file'", [supportedFormats]="'CSV'", [formats]="'.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'", #uploadModal='')
