.ui.container
    .ui.secondary.pointing.menu
        a.item((click)='onSelectBoundaryFile()')
            | Boundary files
        a.item((click)='onSelectDataFile()')
            | Data files
        a.item((click)='onVisualization()')
            | Visualization
    div([ngSwitch]="checkCurrentTab()")
        template([ngSwitchCase]='0')
            view-upload-boundary-file
        template([ngSwitchCase]='1')
            view-uploaded-data-file
        template([ngSwitchCase]='2')
            | this is visualization page

