.ui.container.dashboardContainer
    .ui.ordered.steps
        .active.step([ngClass]="{completed:isBoundaryFileCompleted}")
            .content
                .title Select your boundary
                .description Choose a GeoJson for Map
        .step([ngClass]="{disabled: !isBoundaryFileCompleted, active:isBoundaryFileCompleted, completed:isDataFileCompleted}")
            .content()
                .title Select Data
                .description Choose CSV Dataset
        .step([ngClass]="{disabled: !isDataFileCompleted, active:isDataFileCompleted}")
            .content
                .title Visualize
                .description This is what you looked for
    view-upload-boundary-file(*ngIf='!isBoundaryFileCompleted', (selectedFileContent)='selectedBoundaryFile($event)')
    view-upload-data-file(*ngIf='isBoundaryFileCompleted && !isDataFileCompleted', (selectedFileContent)='selectedDataFile($event)')
    visualization