.ui.container
    .ui.secondary.pointing.menu
        a.item.active((click)='onSelectBoundaryFile()')#boundary-file
            | Boundary files
        a.item((click)='onSelectDataFile()')#data-file
            | Data files
        a.item((click)='onVisualization()')#visualization
            | Visualization
    div([ngSwitch]="checkCurrentTab()")
        template([ngSwitchCase]='0')
            view-upload-boundary-file
        template([ngSwitchCase]='1')
            view-uploaded-data-file
        template([ngSwitchCase]='2')
            | this is visualization page

