.ui.container.dashboardContainer
    .ui.ordered.steps
        .active.step([ngClass]="{completed:isBoundaryFileCompleted}")
            .content
                .title Select your boundary
                .description Choose a GeoJson for Map
        .step([ngClass]="{disabled: !isBoundaryFileCompleted, active:isBoundaryFileCompleted}")
            .content()
                .title Select Data
                .description Choose CSV Dataset
    view-upload-boundary-file(*ngIf='!isBoundaryFileCompleted', (selectedFile)='selectedBoundaryFile($event)')
    view-upload-data-file(*ngIf='isBoundaryFileCompleted')