div.pusher
    div.ui.inverted.vertical.masthead.center.aligned.segment
        div.ui.container

            div.ui.large.secondary.inverted.pointing.menu
                a.toc.item
                    i.sidebar.icon
                #home_tab.a.active.item Home
                #about_tab.a.item About
                div.right.item
                    button.ui.twitter.button
                        i.twitter.icon
                        | Login with Twitter
                    fblogin