div.pusher
    div.ui.inverted.vertical.masthead.center.aligned.segment
        div.ui.container
            div.ui.large.secondary.inverted.pointing.menu
                a.toc.item
                    i.sidebar.icon
                    big
                        | Beruni
                div.right.item
                    div([ngSwitch]="isTokenExpired()")
                        template([ngSwitchCase]='true')
                            fblogin
                        template([ngSwitchCase]='false')
                            fblogout