#progressbarContainer {
  background:grey;
  width:50%;
  margin-top:2%;
  display:none
}

#progressbar {
  background:#2C3539;
  padding:1%;
  width:0%;
}

#status{
  float: left;
}

#upload_button{
  margin-left: 0%;
  margin-top: 3%;
  width: 40%;
}

.small{
  color: grey;
  font-size: small;
}

label{
  padding-right: 1%
}

#map {
  margin-top: -2%;
  height: 21em;
  width: 47%;
  margin-right: -2%;
  float: right;
  position: relative;
}

#inputContainer{
  display: inline-block;
  width: 53%;
}

