sm-modal(title='{{title}}')
    modal-content
        | Select A File
        input.upload-button(type="file", accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", (change)="selectedFile($event)")
        br
        | Supported formats:{{supportedFormats}}
        br
        input(placeholder="{{uploadFilePlaceholder}}", [(ngModel)]="name")
        br
        | Tags:
        tags-input([(ngModel)]="tags")
        br
        | These helps others to find your files:
    modal-actions
        .ui.buttons
            button.ui.secondary.button((click)='uploadSelectedFile()') Upload

