sm-modal(title='{{title}}')
    modal-content
        form
            | Select A File
            input.upload-button(type="file", accept="{{formats}}", (change)="selectedFile($event)", required)
            br
            | Supported formats:{{supportedFormats}}
            br
            input(placeholder="{{uploadFilePlaceholder}}", [(ngModel)]="name", type='text', required)
            br
            | Tags:
            tags-input([(ngModel)]="tags")
            br
            | These helps others to find your files:

            div#container
                div#progressbarContainer
                    div#progressbar
                div#status
            button.ui.secondary.button((click)="uploadSelectedFile()", type='submit')#upload_button Upload
