sm-modal(title='{{title}}')
    modal-content
        div([ngClass]='setClasses()')#completion-toast.ui.message {{showMessage}}
        form
            label
                | Title:
            .ui.input
                input(placeholder="{{uploadFilePlaceholder}}", [(ngModel)]="name", type='text', required)
            br
            br
            label
                | Tags:
            .ui.input
                tags-input([(ngModel)]="tags")
            br
            .small
                | These helps others to find your files:
            br
            label
                | Select a GeoJSON file:
            .ui.input
                input.upload-button(type="file", accept="{{formats}}", (change)="selectedFile($event)", required)

            div#container
                div#progressbarContainer
                    div#progressbar
                div#status
            button.ui.secondary.button((click)="uploadSelectedFile()", type='submit')#upload_button Upload
