hr
br
tags-input([(ngModel)]="dataFile.tags")
input(placeholder="Title of data file", [(ngModel)]="dataFile.name")
input(type="file", accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", (change)="selectedFile($event)")
button#upload_button((click)="uploadSelectedFile()")
    | Upload data file



