sm-modal(title='UPLOAD BOUNDARY FILE')
    modal-content
        | Select A File
        input(type="file",name="boundaryFile", accept='.json', (change)="selectedFile($event)")
        br
        br
        input(type="text",name="title",placeholder="Title of boundary file",[(ngModel)]="boundaryFile.title")
        | Supported formats: GeoJSON
        br
        | Tags:
        br
        tags-input([(ngModel)]="boundaryFile.tags")
        br
        | These helps others to find your files:
        div#container
            div#progressbarContainer
                div#progressbar
            div#status
    modal-actions
        .ui.buttons
            button.ui.secondary.button((click)="uploadSelectedFile()", disabled='true')#upload_button Upload