sm-modal(title='Are you ready to see the visualization of the selected data for the given map ?')
    modal-content
        button.ui.primary.button((click)="confirmSelection()") Confirm
        button.ui.secondary.button((click)="hideModal()") Cancel